<%- include('partials/head') %>
<%- include('partials/navbar') %>
    <h1>Homepage <%= 4 + 5 + 1 %> <%= 'hello world'.toUpperCase()%></h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum temporibus nemo laborum ullam autem ex, laudantium eos beatae asperiores eius animi quo iure qui vel magni eaque ratione commodi alias!</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam molestiae veritatis sint voluptatem provident nostrum culpa repudiandae deleniti perspiciatis officia alias eos aut cumque, corrupti eaque. Quasi dicta optio debitis?</p>
<%- include('partials/footer') %>