<%- include('partials/head') %>
    <!-- http://localhost:8080/r/BackyardChickens -->
<%- include('partials/navbar') %>
  <div class="container">
      <h1>Browsing <%= name %> subreddit</h1>
      <h2><%= description %></h2>
      <p><%= subscribers %> Total Subscribers!</p>
      <hr>

      <% for(let post of posts) { %>
          <aritcle>
              <p><%= post.title %> - <b><%= post.author %></b></p>
              <% if(post.img) { %>
                  <img src="<%= post.img %>"/>
              <% } %>
          </aritcle>
      <% } %>
  </div>
  <%- include('partials/footer') %>